<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="collapse navbar-collapse float-md-right">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link disabled" href="#">Bookstore App</a>
      </li>
      <li *ngIf="app.getCurrentUser() !=null" class="nav-item active">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li *ngIf="app.getCurrentUser() !=null" class="nav-item active">
      <a class="nav-link" href="/orders">Orders</a>
      </li>
      <li *ngIf="app.getCurrentUser() !=null" class="nav-item active">
        <a class="nav-link" href="javascript:void(0);" (click)="logout()">Logout</a>
      </li>
      <li *ngIf="app.getCurrentUser() !=null" class="nav-item active">
        <a class="nav-link" href=""><img src="./../../assets/shopping_cart_PNG64.png"
                                                            style="width: 1.2rem; height: 1.2rem; cursor: pointer;"></a>
      </li>
    </ul>
  </div>
</nav>
